@import "tailwindcss";
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;        
    height: 100vh;
  }
  
  .left {
    flex: 1;            
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;

  }
  
  .right {
    flex: 1;             
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    }
  